.placeholder {
  display: flex;
  justify-content: center;
  &.hide {
    display: none;
  }
}

button:hover {
  cursor: pointer;
}

.game-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  &.hide {
    display: none;
  }
}

.ui-container {
  display: flex;
  gap: 1em;
}

.interactive-container {
  flex: 2;
  height: 10vh;
  bottom: 1em;
  &.hide {
    display: none;
  }
}

.player-info-container {
  flex: 1;
  height: 25vh;
  &.hide {
    display: none;
  }
}
