$margin-bottom: 0.5em;

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  // border: 1px solid black;
  // width: 25%;
  // border-radius: 3em;
  // background-color: rgb(227, 225, 225);
}

.modal-container {
  // display: flex;
  // justify-content: center;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  .content-msg {
    position: relative;
    top: -25em;
    letter-spacing: 0.2em;
    font-size: 20px;
    // right: -0.5em;
  }

  .content-body {
    position: relative;
    top: -10em;
    letter-spacing: 0.1em;
    // right: 0.1em;
  }

  .btn-play {
    position: relative;
    bottom: -6em;
  }

  .options {
    position: relative;
    bottom: -6em;
  }

  .btn-play:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px black;
    border-radius: 8px;
  }
  // border-radius: 1em;
  // display: none;
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content-msg {
  margin-top: 0.5em;
}

.content-body {
  margin: $margin-bottom;
}

.options {
  margin: $margin-bottom;
}

.btn-play {
  margin: $margin-bottom;
  display: block;
  position: relative;
  width: 7em;
  text-align: center;
  background-color: #0f72e5;
  color: #ffffff;
  border: none;
  font-size: 17px;
  cursor: pointer;
  padding: 5px 0;
}
