@use "../utils/" as *;

$margin-bottom: 0.5em;

.modal-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal-container {
  background-color: $main-bg-color;
  // since the width and height cover the entire screen we don't need to center the modal
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .55s ease-in-out;
  &.fade-out {
    opacity: 0;
  }
  .content-msg {
    font-size: 1.5em;
    margin-top: 0.5em;
    animation: fade-out 2s reverse forwards;
    animation-delay: .25s;
    opacity: 0;
  }

  .content-body {
    letter-spacing: 0.1em;
    margin-block: 2em;
    font-size: 2em;
    animation: fade-out 3s reverse forwards;
    animation-delay: 2.5s;
    opacity: 0;
  }

  .btn-play {
    font-size: 1.2em;
    padding-inline: 2em;
    animation: fade-out 3s reverse forwards;
    animation-delay: 2.75s;
    opacity: 0;
  }

  .options {
    bottom: -6em;
    margin: $margin-bottom;
  }
}