@use "../utils/" as *;

.stat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  flex: 1;

  &.hide {
    display: none;
  }
  .char-name {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
  }

  .char-input {
    height: 30%;
    background-color: black;
    color: #fff;
    border: 1px solid red;
    width: 50%;
  }

  .stat-container {
    // display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
    height: 50vh;
    width: 40%;
    flex: 1;
  }

  .stat-change {
    border: 1px solid red;
    // display: flex;
    // flex: 2;
  }

  .stat-names {
    border: 1px solid red;
    // display: flex;
    // justify-content: center;
    // flex: 2;
  }

  .inside-name {
    border: 1px solid red;
    // flex: 2;
    display: flex;
    flex-direction: column;
  }

  .create-character {
    border: 1px solid red;
    // display: flex;
    // flex: 1;
  }
  .btn-group {
    display: flex;
    justify-content: space-evenly;
    // flex: 2;
  }

  .add-group {
    display: flex;
    width: 10%;
    flex-direction: column;
    gap: 0.91em;
    // flex: 2;
  }

  .sub-group {
    display: flex;
    flex-direction: column;
    width: 10%;
    gap: 0.4em;
  }

  .stat-group {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
  }
  .stats {
    list-style: none;
    margin-left: 0.5em;
    display: flex;
    flex: 1;
  }

  .sub-btn {
    margin-bottom: 1em;
    background: linear-gradient(135deg, transparent 22px, red 22px, #8b0000 10%)
        top right,
      linear-gradient(45deg, transparent 22px, red 20px, #8b0000 100%) bottom
        right;
    background-size: 100% 50%;
    background-repeat: no-repeat;
  }

  .add-btn {
    background: linear-gradient(
          -135deg,
          transparent 22px,
          red 22px,
          #8b0000 10%
        )
        top right,
      linear-gradient(-45deg, transparent 22px, red 20px, #8b0000 100%) bottom
        right;
    background-size: 100% 50%;
    background-repeat: no-repeat;
  }

  .char-container {
    display: flex;
    border: 1px solid red;
    width: 40%;
    height: 5vh;
  }

  .char-name {
    border: 1px solid red;
    width: 40%;
    height: 5vh;
    display: flex;
  }

  .points {
    margin-left: 1em;
  }

  .num-val {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-bottom: 3em;
    border: 1px solid red;
    height: 90%;
    width: 10%;
    align-items: center;
    gap: 0.8em;
  }

  .pls {
    font-size: 0.6em;
  }
}
